#title {
    text-align: center;
   }
  
  #main {
    border-radius: 10px;
    background: lightgray;
    padding: 1%;
  }
  
  
  #image {
    max-width: 20%;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  #img-caption {
    text-align: center;
    color: #0096CA;
    font-size: 12px;
    line-height: 300%;
  }
  
  #tribute-info {
    margin: 0 20%;
    text-align: justify;
  }
  
  
  #tribute-link {   
      text-align: center;
  }
  
  #tribute-head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }